/* ainda falta corrigir */
@media screen and (max-width:642px) {
    .conteudo{
        justify-content: center;
    }
    #button{
        width: 100%;
    }
    .titulo-h1{
        text-align: center;
    }
    
    #input-tarefa{
        text-align: center;
        width: 20rem;
    }
}

@media screen and (min-width: 1024px) {
    .rodape {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }}