:root {
    --color-container: #13293D;
    --color-buttonClick: #006494;
    --color-buttonHover: #247BA0;
    --color-button: #1B98E0;
    --color-body: #E8F1F2;
    --color-fonte:#fcfcfc;  
    --color-buttonHoverRemover:rgb(204, 17, 17);
    --color-buttonClickRemover:rgb(163, 19, 19);

}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.conteudo{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    
    
}

#input-tarefa, #button{
    outline: none;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
}

#input-tarefa{
    width: 25rem;
}

#button{
    background-color: var(--color-button);
    color: var(--color-fonte);
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 6px #999;
}

#button:hover{
    background-color: var(--color-buttonHover);
}

#button:active{
    background-color: var(--color-buttonClick);
    transition: none;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#remove-btn{
    background-color: var(--color-button);
    color: var(--color-fonte);
    cursor: pointer;
    transition: 1s;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 6px 6px #666;
   
}

#remove-btn:hover{
    background-color: var(--color-buttonHoverRemover);

}
#remove-btn:active{
    background-color: var(--color-buttonClickRemover);
    transition: none;
    transform: translateY(4px);
}
#list-tarefa{
    background-color: var(--color-container);
    padding: 10px;
    border-radius: 10px;
    }

#list-tarefa li{
 list-style: none;
 font-size: 1.5rem; 
 display: flex;
 justify-content: space-between;  
 margin: 1rem;
 padding: 15px;
 border-radius: 10px;
 background-color: var(--color-fonte);
 align-items: center;
 }

 .footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
 }
 .rodape__social {
    display: flex;
    list-style: none;
}
.rodape__midia {
    display: block;
    width: 42px;
    height: 42px;
    margin: 2rem 1rem;
    
}